<div class="icon-close">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
    <path fill="#2B3C35" d="M14 1.96 12.04 0 7 5.04 1.96 0 0 1.96 5.04 7 0 12.04 1.96 14 7 8.96 12.04 14 14 12.04 8.96 7 14 1.96Z"/>
  </svg>
</div>
