{% comment %}
  type : transparent or null
{% endcomment %}
{% if url %}
  <div
    class="primary-button {{ type }}"
    {% if id %}
      id="{{ id }}"
    {% endif %}
  >
    <a href="{{ url }}">
      {{ title }}
    </a>
  </div>
{% endif %}
