{% assign has_tags = false %}
{% for tag in product.tags %}
  {% if tag %}
    {% assign has_tags = true %}
  {% endif %}
{% endfor %}

{% if product.tags.size > 0 %}
  <div class="tags">
    {% for tag in product.tags %}
      {% unless tag contains 'exclude' or tag contains 'Exclude' or tag contains 'exclude' %}
        <span class="product-tag">{{ tag }}</span>
      {% endunless %}
    {% endfor %}
  </div>
{% endif %}



