<div class="star-review">
  {% if product.metafields.custom.rating != blank %}
    <div>
      {% render 'StarReview' %}
      <span class="rating-text">{{ product.metafields.custom.rating }}</span>
    </div>
  {% else %}
    <div class="jdgm-widget jdgm-preview-badge" data-id="{{ product.id }}">
      {{ product.metafields.judgeme.badge }}
    </div>
  {% endif %}
</div>