<div class="auth-container">
  <div class="auth-content">
    <h1 class="auth-heading">Reset Your Password</h1>

    {% form 'reset_customer_password', class: 'auth-form' %}

      {% if form.errors %}
        <div class="auth-errors">
          {{ form.errors | default_errors }}
        </div>
      {% endif %}

      <div class="input-group">
        <label for="password" class="visually-hidden">Password</label>
        <input
          type="password"
          value=""
          name="customer[password]"
          id="password"
          class="input-field"
          placeholder="Password"
        />
      </div>

      <div class="input-group">
        <label for="password_confirmation" class="visually-hidden">Password Confirmation</label>
        <input
          type="password"
          value=""
          name="customer[password_confirmation]"
          id="password_confirmation"
          class="input-field"
          placeholder="Password Confirmation"
        />
      </div>

      <div class="action-group">
        <input type="submit" class="btn-primary" value="Reset Password" />
      </div>

    {% endform %}
  </div>
</div>