<div class="bg-inside-out min-h-fit w-[85vw] lg:w-[75vw] relative rounded-xl overflow-hidden mb-0 lg:mb-12">
  <div class="grid p-8 md:p-12 lg:p-24 place-items-center h-full relative z-10">
    <img
      alt="A vibrant image of rainbow-colored leaves representing natural health"
      loading="lazy"
      width="1000"
      height="1000"
      decoding="async"
      data-nimg="1"
      class="absolute h-full w-full object-cover left-0 top-0"
      srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Frainbow-leaf.d7e12707.jpeg&amp;w=1080&amp;q=75 1x, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Frainbow-leaf.d7e12707.jpeg&amp;w=2048&amp;q=75 2x"
      src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Frainbow-leaf.d7e12707.jpeg&amp;w=2048&amp;q=75"
      style="color: transparent;"
    >
    <div class="absolute inset-0 bg-gradient-to-t from-[rgba(43,60,53,1)] via-transparent lg:hidden"></div>
    <div class="bg-black/30 w-full h-full absolute top-0 left-0"></div>
    <div class="text-white grid gap-5 relative z-20">
      <h1 class="text-light font-light text-3xl md:text-5xl">Moringa Oleifera Health Benefits</h1>
      <div class="grid gap-2">
        <p class="md:w-[80%] truncate-4">
          In an age focused on wellness and ethical living, Moringa Oleifera has become a subject of extensive scholarly
          attention. Its lush leaves and multifaceted oil have captivated experts in healthcare, nourishment, and
          eco-conscious studies. Researchers across the globe are delving into the tree's extensive influence on
          well-being and ecological balance. We have condensed and organized a few scientific studies by benefit for
          you.
        </p>
        <label class="underline cursor-pointer lg:hidden">read more</label>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Text banner",
  "tag": "section",
  "class": "section",
  "settings": [],
  "presets": [
    {
      "name": "Centered image banner"
    }
  ]
}
{% endschema %}
