<div class="box-container">
  {{ page.content }}
</div>
{% schema %}
{
  "name": "Content",
  "tag": "section",
  "class": "section default-content",
  "presets": [
    {
      "name": "Default content"
    }
  ]
}
{% endschema %}
