<!-- Start of Judge.me code -->
<div class="header">
  <h2>{{ "reviews.title" | t }}</h2>
  {% render 'Rating', product: product %}
  {% capture button_title %}
    {{ 'reviews.write_review' | t }}
  {% endcapture %}
  {% render 'PrimaryButton', url: '#', title: button_title, id: 'button-add-review' %}
</div>
<div id="judgeme_product_reviews" class="jdgm-widget jdgm-review-widget" data-id="{{ product.id }}">
  {{ product.metafields.judgeme.widget }}
</div>
<!-- End of Judge.me code -->

<script>
  const buttonReview = document.getElementById('button-add-review');

  buttonReview.addEventListener('click', (e) => {
    e.preventDefault();
    const reviewForm = document.querySelector('#judgeme_product_reviews .jdgm-form-wrapper');

    if (reviewForm) {
      reviewForm.classList.add('active');

      const cancelReviewButton = reviewForm.querySelector('.jdgm-cancel-rev');

      cancelReviewButton.addEventListener('click', () => {
        reviewForm.classList.remove('active');
      });
    }
  });
</script>

{% schema %}
{
  "name": "Product review",
  "tag": "section",
  "class": "section product-review-list",
  "presets": [
    {
      "name": "Product review"
    }
  ]
}
{% endschema %}
